.list ul {
    padding-left: 2px;
}
.list li {
    padding: 5px;
    overflow: hidden;
    min-height: 54px;
}
.list li > * {
    vertical-align: top;
}
.list li .twit-text {
    float: left;
    width: 300px;
}

.list li .twit-tags {
    width: 300px;
    font-weight: bold;
    min-height: 18px;
}

.list li #btn-edit {
    min-width: 50px;
}

form > * {
    vertical-align: top;
}

textarea {
    width: 290px;
}